* {
    font-family: 'Oxygen', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.background_container {
    /* width: 100vw; */
    width: calc(100%);
    /* height: calc(100vh - 2.5rem); */
    height: calc(100%);
    background-image: url("../content/achtergrond_jan_blok_toernooi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(0px);
    z-index: -1;
    position: absolute;
    top: 0;
}

.container {
    /* width: 100vw; */
    /* width: calc(100% - 3.5rem); */
    width: calc(100%);
    height: calc(100vh - 3.5rem);

    z-index: 1;
    margin: 3.5rem 0 0 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 100%;
    height: 3.5rem;
    /* border: 1px solid black; */
    background: #000000;
    background: -moz-linear-gradient(-45deg, #000000 0%, #001B6C 50%, #545a6b 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #001B6C 50%, #545a6b 100%);
    background: linear-gradient(135deg, #000000 0%, #001B6C 50%, #545a6b 100%);
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0px 0px 15px 5px #000000;
    box-shadow: 0px 0px 15px 5px #000000;
}

nav>ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav>ul>li {
    /* width: 100%;
    height: 100%; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav>ul>li>a {
    font-size: 1.2rem;
    margin: 0 1.2vw;
    padding: 0;
    text-decoration: none;
    color: white;
}

nav>ul>li:nth-of-type(1) {
    display: block;
    position: relative;
    left: 0;
}

.textbox {
    width: 90vw;
    height: 80vh;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav>ul>li>a:hover {
    cursor: pointer;
}

.login>form>input {
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5c7ad4;
    background: -moz-linear-gradient(-45deg, #1d2744 0%, #001B6C 50%, #545a6b 100%);
    background: -webkit-linear-gradient(-45deg, #1d2744 0%, #001B6C 50%, #545a6b 100%);
    background: linear-gradient(135deg, #1d2744 0%, #001B6C 50%, #545a6b 100%);
    border-radius: 5px;
    height: 350px;
    width: 400px;
    color: #FFF;
}

.login>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    position: relative;
}